/*css file start here*/
body{margin:0;padding:0;font-family: 'Poppins', sans-serif;font-size:14px;font-weight:400;letter-spacing:1px;}
*{margin:0;padding:0;}
p{margin:0;paddig:0;color:#464646;line-height:normal;}
h1, h2, h3, h4, h5 ,h6{margin:0;padding:0;}
a:hover, a:focus{
text-decoration:none;transition: .8s;}
:focus{outline:none;}
ul{margin:0;paddig:0;}
li{ list-style:none;}
button:hover{transition: .8s;}
button:focus{
outline:0 !important;}
img{max-width:100%;}
.container{max-width: 1570px;}
/*loader css start*/

.sk-chasing-dots {margin: 30px auto;width: 40px;height: 40px;position: relative;text-align: center;
position: fixed;left: 0;right: 0;top: 40%;bottom:0;
 -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
animation: sk-chasingDotsRotate 2s infinite linear; }
.sk-chasing-dots .sk-child {width: 60%;height: 60%;display: inline-block;position: absolute;
top: 0;background-color: #fff;border-radius: 100%;-webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
.sk-chasing-dots .sk-dot2 {top: auto;bottom: 0;-webkit-animation-delay: -1s;animation-delay: -1s; }
@-webkit-keyframes sk-chasingDotsRotate {
  100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);transform: scale(1); } }
@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);transform: scale(0); }
  50% {
    -webkit-transform: scale(1);transform: scale(1); } } 
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999; background:#595959;
}
/*loader css close*/

/*header css start*/
.header .navbar.navbar-expand-md.navbar-dark {padding: 0;height: 90px;}
.header{background:#f7f1e6;box-shadow: 0px 2px 5px #d0d0d0;position:relative;}
.header li a{font-size:14px;color:#242424;text-transform:uppercase;font-weight:600;margin-right:55px;}
.header .btn{background:#b89600;text-transform:uppercase;font-size:14px;font-weight:600;padding: 10px 25px;}
.header .btn a{color:#fff;}
.header li a:hover{color:#b89600;}
.header .btn:hover{background:#595959;}
/*header css close*/

/*slider css start*/
.slider .carousel-control-prev {display: none;}
.slider .carousel-control-next{display: none;}
.slider .carousel-caption{top: 28%;right: 0;text-align: left;left: 62%;}
.slider .carousel-caption h5{font-size:30px;color:#fff;text-transform:uppercase;}
.slider .carousel-caption p{font-size:22px;text-transform:uppercase;font-weight:200;color:#fff;padding:35px 0;}
.slider .carousel-caption h4{font-size:14px;color:#fff;font-weight:300;margin-bottom:60px;}
.slider .carousel-caption h4 b{font-size:25px;margin-right:25px;font-weight:500;}
.slider .carousel-caption a{font-size: 15px;color: #fff;text-transform: uppercase;display: inline-block;border-radius: 4px;border: 2px solid #b89600;padding: 15px 0;width:176px;text-align: center;margin-right:35px;font-weight:600;letter-spacing: 2px;}
.slider .carousel-caption a:hover{background:#b89600;}
.slider .carousel-caption a.active{background:#b89600;}
.slider .carousel-indicators li{width: 16px;height: 15px;background: none;border: 1px solid #fff;opacity: 1;}
.slider .carousel-indicators li.active{background:#b89600;border: 1px solid #b89600;}
.slider .carousel-indicators{margin-right: 0;margin-left: 0;left: 77%;}
/*slider css close*/

/*search part css start*/
.search{text-align:center;padding:35px 0;border-bottom:1px solid #e3e4e5;}
.search-model {position: relative;}
.search .form-control{height:45px;}
.search .fa.fa-search.form-control-feedback {position: absolute;top: 12px;right: 14px;color:#595959;font-size: 18px;cursor:pointer;}
.search-model-btn {width: 100%;background: #ddd;border: 0;border-radius:4px;font-size:16px;color:#fff;background:#b89600;font-weight:400;height: 45px;}
.search-model-btn i {font-size: 22px;margin-left: 12px;}
.search .dropdown-item {font-size: 14px;padding: 10px 12px;border-bottom: 1px solid #eae6e6;}
.search .dropdown-menu{width:100%;-webkit-box-shadow: 0 15px 20px 0 rgba(0,0,0,.08);
box-shadow: 0 15px 20px 0 rgba(0,0,0,.08);}
.search .dropdown-item:last-child{border-bottom:0;}

/*search part css close*/

/*live models part css start*/
.padding{padding:80px 0;}
.heading{text-align:center;margin-bottom:75px;}
.heading h4{font-size:32px;color:#242424;font-weight:400;margin-bottom:25px;}
.heading h4 b{font-weight:600;}
.heading::after {width: 159px;height: 38px;background-image: url("../images/heading-img.png");content: "";display: inline-block;}
.box-main{border:1px solid #eae6e6;background:#fff;border-radius:4px;transition: box-shadow 500ms;overflow:hidden;}
.box-main:hover{-webkit-box-shadow: 0 15px 20px 0 rgba(0,0,0,.08);box-shadow: 0 15px 20px 0 rgba(0,0,0,.08);}
.box-img{background:#ddd;height:240px;overflow:hidden;position: relative;}
.box-img img{width:100%;height: 100%;object-fit:cover}
.box-img:before {content: " ";z-index: 1;display: block;position: absolute;height:85px;top: 0;left: 0;right: 0;background: url("../images/box-top-overlay.png")}
span.live{position:absolute;left:10px;top:10px;background:rgba(36, 36, 36, 0.6);font-size:11px;color:#fff;padding: 6px 12px;border-radius: 4px;z-index: 99;}
span.live i{font-size:8px;color:#cc2323;margin-right:5px;}
.box-btm{padding:13px 12px;position: relative;}
.box-user-img{width:48px;height:48px;background:#ddd;border-radius:50%;overflow:hidden;display:inline-block;margin-right:15px;}
.box-user-img img{width:48px;height:48px;object-fit: cover;}
.box-mid {display: inline-block;vertical-align: top;}
.box-mid h3{font-size:18px;color:#242424;font-weight:600;margin-bottom:6px;}
.box-mid ul{display:inline-block;}
.box-mid li{display:inline-block;margin-right:8px;font-size:14px;color:#595959;}
.box-mid li i{margin-right:5px;}
.box-btm a.follow{background:#fff;border:1px solid #b89600;color:#b89600;vertical-align: top;text-transform:uppercase;font-size:13px;font-weight:600;padding: 8px 15px;border-radius: 4px;float: right;margin: 8px 0;}
.box-btm a.follow:hover{background:#b89600;color:#fff;}
.featured-models{background:#f3f3f3;}
.featured-models .box-main{margin-bottom:35px;}
/*live models part css close*/

/*newsletter part css start*/
.newsletter{background-image: url("../images/newsletter-img.png");height: 183px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;padding:40px 300px;}
.news-text{display:inline-block;position: relative;z-index: 999;}
.newsletter h3{font-size:26px;color:#fff;text-transform:uppercase;margin-bottom:25px;font-weight:600;letter-spacing:2px;}
.newsletter p{font-size:13px;color:#fff;font-weight:200;line-height:25px;}
.newsletter-right{display:inline-block;float: right;position: relative;z-index: 99;margin: 20px 0;width: 30%;}
.newsletter-right .form-control{height:65px;background:rgba(255, 255, 255, 0.4);border:0;color:#fff;border-radius:4px;}
.newsletter-right i {font-size: 30px;color: #fff;position: absolute;top: 15px;right: 20px;cursor:pointer;}
.newsletter:before {content: " ";z-index: 10;display: block;height:100%;top: 0;left: 0;right: 0;background:rgba(0, 0, 0, 0.5);position: absolute;}
span.live{position:absolute;left:10px;top:10px;background:rgba(36, 36, 36, 0.6);font-size:11px;color:#fff;padding: 6px 12px;border-radius: 4px;z-index: 2;}
.newsletter-right .form-control::placeholder {color: #fff;opacity: 1;font-weight:200;letter-spacing:1px;}
.newsletter-right .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #fff;font-weight:200;letter-spacing:1px;}
.newsletter-right .form-control::-ms-input-placeholder { /* Microsoft Edge */color: #fff;font-weight:200;letter-spacing:1px;}
/*newsletter part css close*/

/*footer part css start*/
.footer.padding {padding: 80px 0 0;}
.footer {text-align: center;}
.footer-logo{text-align:center;}
.footer ul{display:inline-block;margin:50px 0 60px;}
.footer li{display:inline-block;margin:0 25px;}
.footer li a{font-size:14px;color:#000000;text-transform:uppercase;font-weight:600;}
.footer li a:hover{color:#b89600;}
.footer-social ul{margin:0;}
.footer-social li{margin: 0 18px;}
.footer-social li a{font-size:30px;color:#595959;}
.footer-btm{border-top:1px solid #dedbdb;margin-top: 45px;}
.footer-btm h4{font-size:12px;color:#595959;text-transform:uppercase;font-weight:300;padding:25px 0;}
/*footer part css close*/


/*inner pages css*/

.become-model{width: 100%;background: #f3f3f3;}
.become-model1{background: #f3f3f3;float: left;width: 100%;}
.become-a-model{width: 40%;background: #fff;padding: 40px;max-width: 570px;border-radius: 4px;-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.08);
box-shadow: 0 5px 10px 0 rgba(0,0,0,.08);}
.become-a-model label{float: left;font-size: 15px;font-weight: 500;text-transform:uppercase;color: #585858;}
.height-control{height: 55px !important;border-radius:4px;font-weight: 300;}
.become-a-model button{margin-top: 30px;width: 100%;height: 60px;background: #b89600;color:#fff;text-transform: uppercase;border-radius: 4px;font-size: 18px;font-weight: 600;text-align: center;min-height: 62px;border: 0;}
.become-a-model button:hover{background: #595959;}
.already1{font-size: 16px;width: 100%;text-align: center;color:#242424;margin-top: 30px;}
.already1 a{color: #b89600;padding-left: 10px;font-weight:400;}
.fan{padding-left: 25px;font-size: 14px;font-weight:500;display:inline-block;margin-right:60px;color: #585858;}
label.fan input{vertical-align: top;margin-top: 4px;margin-right:12px;}
label.fan-model input{vertical-align: top;margin-top: 4px;margin-right:12px;}
.fan-model{font-size: 14px;font-weight:500;color: #585858;display:inline-block;}
.align{display: flex;align-items: center;justify-content: center;}
.become-a-model h2{font-size: 22px;font-weight: 600;text-transform: uppercase;margin-bottom: 25px;}
.become-a-model p{font-size: 14px;margin-bottom:15px;font-weight: 300;}
.already2{margin-top: 20px !important;}
.fas.fa-check-circle{font-size: 16px;padding-right: 7px;color: #b89600;}
.become-model.login a.forgot{float:right;color:#b89600;}
.become-model .form-control {font-size: 15px;}

/*model-profile*/

.cover-image {position: relative; }
.dp-image{width: 227px;height: 237px;background: red;position: absolute;bottom: 75px;left: 171px;}
.dp-image img{width: 100%;height: 100%;border: 2px solid #fff}
.image-content{height: 237px; position: absolute;bottom: 25px;left: 426px;color: #fff;}
.image-content h2{color: #fff;}
.image-content p{color: #fff;padding: 20px 0;}
.image-content-button{bottom: 80px;right: 174px;position: absolute;}
.image-content-button button{background:  #fff;color:  #b89600;font-size: 14px;border: none;padding: 15px 40px;border-radius: 5px;text-transform: uppercase;font-weight:600;}
.gal {padding: 5px 10px;-webkit-column-count: 6;-moz-column-count: 6;column-count: 6;}	
.gal img{ width: 100%; padding: 7px 0;}

/*model-profile*/

/* live model page css*/

.min-height{min-height: calc(100vh - 136px);}
.navbar-nav.gap-margin {margin-left: 157px;}

.left-bar{background: #313942;color: #fff;height:calc(100vh);padding-top: 40px;z-index: 999;width: 260px;vertical-align: top;position: fixed;top: 90px;bottom: 0;left: 0;display: block;overflow-x: hidden;}
.left-bar ul li{padding: 15px 0;border-left: 3px solid transparent;margin-bottom: 8px;}
.left-bar ul li:hover{border-left: 3px solid #b89600;background: #4d565f;}
.left-bar ul li a{padding-left: 25px;color:#9da7b3;display: block;}
.live-model-content{background-color: #f3f3f3;}
.live-model-content .right-bar{float: left;width: 100%;}
.right-main {width: 86%;display: inline-block;margin-left: 260px;min-height: calc(100vh - 80px);margin-top: 95px;}
.right-bar .right-bar-content{background: #ffffff;border: 1px solid #f3f3f3;border-radius: 10px;margin:40px;}
.live-models.padd {padding: 30px;}
.right-bar-content h4{font-size:25px;color:#242424;border-bottom:1px solid #eceaea;padding: 20px;font-weight: 600;}
.right-bar-content .right-sub-bar{border: 1px solid #f3f3f3;max-height: 310px;}
.right-sub-bar .right-sub-bar-top{height: 234px;}
.right-sub-bar .right-sub-bar-top img{height: 100%;width: 100%;}
.right-sub-bar .right-sub-bar-bottom{height: 76px;}
.put{float: left;width: 100%;margin-top: 21px;}
.navbar-nav img{height: 40px;width: 40px;border-radius: 50%;margin-right: 17px;margin-left: 19px;}
.far1{font-size: 20px;padding: 10px 12px;color: #7f7e7e;}
.far2{padding: 10px 5px;font-size: 14px;color: black;}
.container1{margin: 0 20px;} 
.right-gap{margin-right: 20px;}
.right-gap li{font-size: 14px;color: #242424;font-weight: 600;}
.auto-footer{padding-top: 18%;font-weight: bolder;}
.btm1{border-top: 0;}.dropdown-menu {left: -127px;}
.header.trans-header{box-shadow: 0px 2px 5px #d0d0d0 !important;
position: fixed;
background: #fff;
left: 0;
right: 0;
z-index: 99;
}
.header.trans-header .navbar-brand {margin-right: 78px;}
.footer-btm.btm1 {background: #fff;}
.right-bar .box-main {margin-bottom: 35px;}
.copy {background: #fff;padding: 20px;font-size:12px;color:#595959;text-transform:uppercase;}
.navbar-nav.ml-auto.right-gap li a {margin-right: 5px;}
.right-gap li a i {font-size: 22px;}
.right-gap li a i:hover{color: #b89600;}

/* live model page css*/

/* Notifications page css*/

.right-bar-content.noti {margin: 40px 240px}
.one-notify{border-bottom: 1px solid #eceaea;padding: 22px;}
.one-notify h5{font-size: 17px;font-weight: 400;}
.one-notify h5 b{font-weight:600;}
.one-notify p{font-size: 13px;padding: 8px 0;color:#838080;}
.two-notify{width: 100%;padding-left: 30px;padding-top: 30px;padding-bottom: 30px;border-bottom: 1px solid #eceaea;} 
.two-notify h5{font-size: 17px;font-weight: 400;}
.two-notify p{font-size: 13px;padding: 5px 0;}
.delete-btn button{float: right;background: #b89600;border: none;color: #fff;padding: 15px 65px;font-size: 16px;font-weight: bold;margin-top: 45px;
margin-right: 35px;}.footer-btm.btm1.auto-footer1 {width: 100%;margin-top: 20%;}
.right-bar-content1{margin-left: 168px !important;margin-right: 168px !important;}
.notify-left{display:inline-block;}
.notify-right{float: right;margin-right: 70px;margin-top: 12px;}
.constant {display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 15px;
-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;float: left;}
.constant input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.constant input:checked ~ .checkmark {background-color: #b89600;}
.one-notify .checkmark {position: absolute;top: 0;left: 0;height: 30px;width: 30px;border-radius:4px;background-color: #b89600;}
.one-notify .constant input:checked ~ .checkmark::after {display: block;}
.constant .checkmark::after {left: 11px;top: 7px;width: 8px;height: 13px;border: solid white;border-top-width: medium;border-right-width: medium;
border-bottom-width: medium;border-left-width: medium;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.checkmark::after {content: "";position: absolute;display: none;}
.delete-btn{background: #b89600;color: #fff;padding: 14px 50px;font-weight: 600;border:0;font-size:16px;border-radius:4px;}
.delete-btn:hover{background: #595959;}

/* Notifications page css*/


/*settings page css*/


.picture{width: 112px;height: 112px;background: #000;border-radius: 50%;margin: 50px auto;position: relative;}
.picture1{display: flex;justify-content: center;align-items: center;}
.picture1 img{height: 112px;width: 112px;border-radius: 50%;}
.form-group1 {margin: 0 100px;margin-bottom: 12px;}
.delete-btn2.pass-chnage{background: #313942;border: none;color: #fff;padding: 15px 30px;font-size: 16px;font-weight: bold;margin-top: 45px;margin-left: 102px;border-radius: 5px;}
.text-height{height: 110px;}
.auto-footer2{margin-top: 8% !important;}
.modal-dialog.change-pass label{font-weight: 400;font-size: 14px;}
.img-cls {position: absolute;top: 80px;right: 0;z-index: 999;}
.setting-left{border-right: 1px solid #e5e2e2;height: 685px;overflow-y: auto;overflow-x: hidden;}
.setting-left-one{border-bottom: 1px solid #e5e2e2;padding: 10px 0;}
.box-user-images {}
.rounded{width: 351px;background-color: #e5e2e2;color: black;padding: 20px 20px;text-align: left;position: relative;border-radius: 10px !important;display: inline-block;vertical-align: top;}
.setting-right-one {padding-left: 20px;width: 100%;padding-top: 25px;padding-bottom: 25px;}
.setting-right-two{margin-right: 25px;background-color: #cdeafc !important;position: relative;float:right;}
.setting-right-top{height: 606px;overflow-y: auto;overflow-x: hidden;}
.setting-right-bottom{border-top: 1px solid #e5e2e2;}
.setting-right-bottom button{background-color: yellow;background: #b89600;border: none;color: #fff;padding: 24px 65px;font-size: 18px;font-weight: bold;float:right;border-radius: 0 0 10px 0;}
.multitext{height: 75px;margin-left: 13px;border: none;width:60%;}
.fas.fa-paperclip.clip {font-size: 30px;color: #c6c6c6;margin-left: 35px;margin-top: 22px;display: inline-block;float: left;}
.fas.fa-caret-left.on-top {position: absolute;top: 13px;left: -10px;font-size: 30px;color: #e5e2e2;}
.fas.fa-caret-left.on-top1 {position: absolute;top: 13px;left: -10px;font-size: 30px;color: #e5e2e2;}
.fas.fa-caret-right.on-right {position: absolute;top: 13px;right: -10px;font-size: 30px;color: #cdeafc;}
.green {height: 8px;width: 8px;border-radius: 50%;background-color: #46d498;position: absolute;top: 16px;left: 13px;z-index: 1}
.box-mid p{vertical-align: top;margin-top: -27px;position: absolute;top: 38px;right: 10px;font-size: 12px !important;font-weight: normal;}
.modal-footer {border-top: 0 !important;padding-top: 0;}
.btn.btn-danger.close-right {font-weight: bold;padding: 10px 35px;float: right;margin-right: 0 !important;margin-top: 0 !important;background-color: #b89600;border:1px solid #b89600;}
.right-bar-content.noti .form-control.text-height{min-height: 135px;}
.modal-dialog.change-pass .modal-header h4{    padding-left: 0;}
.modal-dialog{top: 50%;left: 50%;transform: translate(-50%,-50%) !important;position: absolute;margin: 0 !important;width: 500px;}
.close.model-close {background: transparent;color: #878787;font-size: 20px;padding-top: 20px;}
.modal-body{padding-bottom: 0 !important;}
.footer-btm.btm1.auto-footer1 {float: left;width: 100%;margin-top: 20%;}
.auto-footer2 {margin-top: 8% !important;}
.btm1 {border-top: 0;}
.footer-btm {border-top: 1px solid #dedbdb;margin-top: 45px;}
.box-user-img.box-user-images.setting-right-two {float: right;}
.two-buttons {padding-bottom: 30px;}
.two-buttons .changing{background: #313942;border: none;color: #fff;padding: 15px 30px;font-size: 16px;font-weight: bold;margin-top: 45px;
margin-left: 102px;border-radius: 5px;}
.two-buttons .updating{float: right;background: #b89600;border: none;color: #fff;padding: 15px 65px;font-size: 16px;font-weight: bold;margin-top: 45px;
margin-right: 102px;border-radius: 5px;}
.modal-header{border-bottom: 1px solid #ced4da;padding-bottom: 0;}
.modal-header h4 {border-bottom: 0;font-weight: normal;font-size: 22px;padding-top: 0;}
.modal-dialog.change-pass {max-width: 550px;width: 550px;}
.inner-form.inner-forms label{font-weight:600;font-size:15px;}

/* Notifications page css*/

/* payment popup css*/

#payment .form-control{height:45px;border-radius:4px;font-size: 13px;}
#payment .btn.btn-primary {background: #b89600;border: 1px solid #b89600;color: #fff;text-transform: uppercase;font-size: 15px;font-weight: 600;padding: 12px 45px;border-radius: 4px;margin:40px auto 0;}
#payment .btn.btn-primary:hover{background: #595959;}
#payment .modal-header {text-align: center;border-bottom: 0;padding-bottom: 0;}
#payment .close {position: absolute;right: 12px;top: 10px;}
#payment .modal-body{padding-top:10px;}
#payment #exampleModalLabel {width: 100%;font-size: 27px;margin-top: 20px;}
.modal-body h6 {text-align: center;font-size: 14px;font-weight: 400;color:#595959;}
.credit {text-align: center;margin: 25px 0 22px;}
.credit li{display:inline-block;margin: 0 2px;}
.credit li img {max-width: 80%;}
#payment .modal-dialog{max-width: 450px;}
#payment .modal-footer{border:0;margin-bottom: 15px;}


.do {display: block;position: relative;padding-left: 30px;cursor: pointer;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;
-ms-user-select: none;user-select: none;margin-bottom:0;}
.do p a{color:#b89600;}
.do input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkmark2 {position: absolute;top: 0;left: 0;height: 20px;width: 20px;border: 1px solid #ced4da;border-radius: 4px;}
.do input:checked ~ .checkmark2 {background-color: #b89600;border: 1px solid #b89600;}
.checkmark2:after {content: "";position: absolute;display: none;}
.do input:checked ~ .checkmark2:after {display: block;}
.do .checkmark2:after {left: 6px;top: 3px;width: 6px;height: 10px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);transform: rotate(45deg);}
.do {font-size: 13px;color:#595959;margin-top: 10px;}
.do p{font-weight:400;}
#payment .modal-body h4 {font-size: 45px;font-weight: 600;color:#b89600;margin: 25px 0px;}

/* payment popup css*/


/* after login nav css */

.header.trans-header{height: 90px;}
.header.trans-header .navbar {
    padding: 15px 15px;
}
.top-ul {width: 86%;}
.top-ul li{display:inline-block;vertical-align: middle;}
.nav-right {display: inline-block;padding-left: 57%;}
.nav-right li a{margin-right:10px;}
.nav-right img {
    height: 40px;
    width: 40px;
	margin-right: 5px;
    border-radius: 50%;

}
.drop-img{border-radius:50%;background:#ddd;}
.nav-right li a i {
    font-size: 25px;
}
.nav-right #dropdownMenuButton {
    font-size: 15px;
    font-weight: 600;
}
.nav-right .dropdown{display:inline-block;vertical-align: top;}
.nav-right .dropdown-toggle{background:none;border:0;padding:0;}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #313942;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav a {
color: #9da7b3;
display: block;
padding: 15px 12px;
border-left: 3px solid transparent;
margin-bottom: 8px;
}
.sidenav a:hover {
    border-left: 3px solid #b89600;
    background: #4d565f;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side-toggle {
    display: none;
}
a.closebtn:hover {
    background: none;
    border: 0;
}


/* after login nav css */


/*media css start*/

.navbar-dark .navbar-toggler {color: rgba(255,255,255,.5);border-color: #595959;background: #595959;}


@media screen and (max-width: 1800px) {
.top-ul {width: 85%;}	
.nav-right{padding-left: 57%;}	
	
}

@media screen and (max-width: 1440px) {
.nav-right {padding-left: 45%;}	
	
}

@media screen and (max-width: 1280px) {
.top-ul {width: 78%;}
.nav-right {padding-left: 30%;}


}

 

@media screen and (max-width: 1024px) {

.nav-right {padding-left: 12%;}
	
.slider .carousel-caption{top: 5%;left: 55%;}
.slider .carousel-caption h5{font-size: 25px;}
.live-models .col-sm-3{flex: auto;max-width: 50%;}
.live-models .box-main{margin-bottom: 35px;}
.featured-models .col-sm-3{flex: auto;max-width: 50%;}
.newsletter{padding: 40px 50px;}
.newsletter-right{width: 40%;}
.become-a-model{width:50%;}

}

@media screen and (max-width: 900px) {

.nav-right {padding-left: 12%;}
.header .top-ul a{margin-right: 30px;}	
.header .nav-right li a{margin-right:5px;}	

	
	
.header.trans-header .navbar-brand {margin-right: 20px;}	
.navbar-nav.gap-margin {margin-left: 60px;}	
	
}

@media screen and (max-width: 812px) {

.nav-right {padding-left: 0px;}	
	

.header li a{margin-right: 25px;}
.slider .carousel-caption h5 {font-size: 18px;}
.slider .carousel-caption p{font-size: 16px;padding: 20px 0;}
.slider .carousel-caption a{width: 150px;margin-right: 15px;}
.slider .carousel-caption h4{margin-bottom: 35px;}
.slider .carousel-caption h4 b{font-size: 20px;}
.search .offset-3 {margin-left: 0;}
.search .col-sm-6{max-width:100%;}
.newsletter{height:auto;text-align:center;}
.news-text{text-align:center;width:100%;}
.newsletter h3{margin-bottom: 15px;}
.newsletter-right {float:none;width:60%;margin-bottom: 0;}
.become-a-model{width:60%;}

}

@media screen and (max-width: 768px) {

.top-ul {width: 80%;}	
	
.navbar-nav.gap-margin {margin-left: 20px;}	
	
}

@media screen and (max-width: 768px) {

.right-bar .right-bar-content .col-sm-4{flex: auto;max-width: 50%;}
.side-toggle{display:block;display: inline-block;color: #242424;float: right;}
.header .top-ul a {margin-right: 20px;}
.header li a{font-size: 13px;}
.nav-right li a i {font-size: 22px;}
.header .nav-right li a {margin-right: 0;}
.nav-right .dropdown{margin-right: 30px;vertical-align:middle;}
.left-bar{display:none;}
.right-main{width: 100%;margin-left: 0;}
.left-bar{display:none;}
.top-ul .feed {display: none;}	
.nav-right{float:right;}

.dropdown-toggle.web-view {display: none;}
.dropdown-toggle.phone-view {background: none;border: 0;color: #fff;font-size: 15px;padding: 5px 15px;width: 100%;
text-align: left;margin-bottom: 15px;}
.dropdown-toggle.phone-view img{margin-right:10px;}
.sidenav .closebtn{right: 0;padding-top: 0;}
#mySidenav .dropdown-menu {position: absolute;background: #4d565f;width: 90%;border: 0;padding-left: 0; padding-top: 0;margin: auto;top:65px;padding: 10px;left: 0px;right: 0;} 
#mySidenav .dropdown-menu a {padding: 0;font-size: 13px;border:0;}
#mySidenav .dropdown-menu a:hover{background:none;color:#fff;}


.header .navbar.navbar-expand-md.navbar-dark{height:auto;padding: 10px 0;}
.header .navbar-nav.ml-auto{margin-left: 0 !important;text-align: left;width: 100%;padding-top: 10px;}
.header .btn{text-align: left;width: 100%;background:none;padding: 0;padding-bottom: 10px;}
.header .btn:hover{background:none;}
.header .btn a{color:#242424;}
.header .btn a:hover{color: #b89600;}
.header .navbar-nav.ml-auto li{margin-bottom:8px;}

}

@media screen and (max-width: 684px) {

.become-a-model {width: 70%;}	
.top-ul {width: auto;}	
.nav-right .dropdown{margin-right: 40px;}	
	
}

@media screen and (max-width: 414px) {

.right-bar .right-bar-content .col-sm-4{max-width: 100%;}
.nav-right .dropdown {margin-right: 15px;}
.nav-right li a i{padding:0;}
.navbar-brand img {max-width: 75%;}
.header.trans-header {height: auto;}
.header.trans-header .navbar-brand {margin-right: 0;}
.side-toggle{font-size:25px!important;}
.header .nav-right li a {margin-left: 12px;} 
.top-ul li{margin-top: 6px;}

.slider .carousel-indicators li{width: 10px;height: 10px;}	
.search-model{margin-bottom:15px;}	
.padding {padding: 40px 0;}	
.heading{margin-bottom: 50px;}
.heading h4{font-size:28px;}	
.live-models .col-sm-3 {max-width: 100%;}	
.featured-models .col-sm-3{max-width: 100%;}
.newsletter {padding: 40px 0px;}	
.newsletter h3{font-size:20px;}	
.newsletter-right{width:95%;}
.news-text p br{display:none;} 	
.footer.padding {padding: 40px 0 0;}
.footer ul{margin: 20px 0;}	
.footer li{margin: 0 12px 10px;}	
.footer-social li a{font-size: 25px;}	
.footer-btm{margin-top:0;}	
.become-a-model {width: 98%;} 
.become-a-model{padding: 30px;}
.fan{margin-right: 20px;}
.right-bar .right-bar-content{margin:10px;}
.live-models.padd {padding: 25px;}	
.right-main{margin-top: 78px;}
	
}

@media screen and (max-width: 375px) {

.header.trans-header .navbar {padding: 15px 0;}
	

.box-btm a.follow{padding: 9px 10px;font-size: 12px;}	
.box-mid li{margin-right:5px;}	
.fan {margin-right: 10px;padding-left: 15px;} 
label.fan input{margin-right: 5px;}
label.fan-model input{margin-right: 5px;}

}


/*media css close*/